body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: white;
}

h1{
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 10vw;
  color: #000000;
}

header{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

#chernotap{
  border: 0;
  border-radius: 75vw;
  width: 75vw;
  padding: 0;
  color: #000000;
}

#chernotap img{
  border: 0;
  border-radius: 75vw;
  width: 75vw;
  padding: 0;
}
#thiding{
  flex-direction: column;
  margin-top: 3vh;
  height: 55vh;
  align-items: center;
  justify-content: space-between;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

header button{
  height: 10vh;
  width: 45vw;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 3px black solid;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: medium;
  color: #000000;
}

#stepantap{
  height: 9vh;
  width: 50vw;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: larger;
}

.inactive{
  border: 0;
  border-bottom: 3px #313131 solid;
}

.active{
  border: 0;
  border-bottom: 3px #0048ff solid;
}

#mhiding{
  margin-top: 10vh;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  justify-self: center;
}
.wrap{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 90vw;
}
.wrap button{
  width: 40vw;
}
#mhiding button{
  background-color: rgba(255, 255, 255, 0);
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: small;
  border: 0;
  border-bottom: 3px #000000 solid;
}

#chernoskolko{
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: medium;
}